In [99]:
import requests
import zipfile
import pandas as pd

In [100]:
# Download & extract file
zip_file_path = "names.zip"
r = requests.get('https://www.ssa.gov/oact/babynames/names.zip')

open(zip_file_path, "wb").write(r.content)

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall("data")

In [101]:
df = pd.read_csv("data/yob2021.txt", names=["Name", "Gender", "Count"])
df.head(10)

        Name Gender  Count
0     Olivia      F  17728
1       Emma      F  15433
2  Charlotte      F  13285
3     Amelia      F  12952
4        Ava      F  12759
5     Sophia      F  12496
6   Isabella      F  11201
7        Mia      F  11096
8     Evelyn      F   9434
9     Harper      F   8388

In [102]:
df.shape

(31537, 3)

In [103]:
# Sum of all
total_births = df["Count"].sum()

In [104]:
# Sum of boys
number_of_boys = df[df["Gender"]=="M"]["Count"].sum()

In [105]:
 # Sum of girls
number_of_girls = df[df["Gender"]=="F"]["Count"].sum()

In [106]:
 # Check for my name
df[df["Name"] == "Bahy"].count(numeric_only=True)

Count    0
dtype: int64

In [107]:
# Percentage of boys
number_of_boys / total_births * 100

51.59427317689933

In [108]:
number_of_girls / total_births * 100

48.405726823100665

In [109]:
top_names = df.sort_values(by=["Count"], ascending=False)
top_boy_names = top_names.loc[df["Gender"]=="M"]
top_boy_names.head(5)

         Name Gender  Count
17544    Liam      M  20272
17545    Noah      M  18739
17546  Oliver      M  14616
17547  Elijah      M  12708
17548   James      M  12367

In [110]:
top_girl_names = top_names.loc[df["Gender"]=="F"]
top_girl_names.head(5)

        Name Gender  Count
0     Olivia      F  17728
1       Emma      F  15433
2  Charlotte      F  13285
3     Amelia      F  12952
4        Ava      F  12759

In [111]:
top_5_boys_girls_names = pd.concat([top_boy_names.head(5), top_girl_names.head(5)]).sort_values(by=["Count"], ascending=False)
top_5_boys_girls_names

            Name Gender  Count
17544       Liam      M  20272
17545       Noah      M  18739
0         Olivia      F  17728
1           Emma      F  15433
17546     Oliver      M  14616
2      Charlotte      F  13285
3         Amelia      F  12952
4            Ava      F  12759
17547     Elijah      M  12708
17548      James      M  12367

In [112]:
top_5_boys_girls_names.to_excel("export.xlsx")